<div class=" relative flex mt-32 mb-8 max-w-screen-xl mx-auto gap-4">
  <form class="flex gap-2 flex-col sm:flex-col md:flex-row lg:flex-row ml-4 space-x-4 items-end">

    <div class="w-full">
      <label for="country" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select Country</label>
      <select id="country" (change)="onCountryChange($event)" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        @for(country of countries; track country.name){
          <option [value]="country.name">{{country.name}}</option>
        }
      </select>
    </div>

    <div class="w-full">
      <label for="league" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select League</label>
      <select #league id="league" (change)="onLeagueChange($event)" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        @if(leaguesData?.data?.length === 0){
          <option value="No League Found" disabled selected>No League Found</option>
        }@else {
          @for (league of leaguesData?.data; track league.id) {
            <option [value]="league.name">{{league.name}}</option>
          }
        }
        
      </select>
    </div>
  
    <div class="relative w-full">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
        </svg>
      </div>
      <input  #datepicker id="datepicker-autohide" (selectionchange)="onDateChange($event)" datepicker datepicker-autohide type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date">
    </div>

    <button type="button" (click)="searchMatches()" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-full text-sm px-5 py-2.5 me-2  dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">Search</button>
    
  </form>
</div>

@if(leaguesData?.data?.length === 0 || matchesData?.data?.length === 0){ 
  <div class="flex items-center justify-center h-screen bg-gray-100">
  </div>
}
@else {
  <div class="bg-white border-2 border-blue-500 shadow-lg rounded-lg overflow-hidden transform transition-all duration-300 gap-4 px-6 py-2 mx-2 mb-8">
    <p class="text-2xl md:text-4xl font-bold text-center text-gray-800 my-4 sticky top-0 bg-white z-10">{{leagueName}}</p>
    <div class="flex flex-col items-center gap-4">
      @if(matchesData?.data?.length != 0) {
        @for(matche of matchesData?.data; track matche.id) {
          <div 
          class="bg-white border-2 border-blue-500 hover:shadow-xl transition-shadow duration-300 px-6 py-8 flex-shrink-0 w-full rounded-lg font-[sans-serif] mt-4" [routerLink]="['/matche-details']" [queryParams]="{ id: matche.id }">
              <div class="flex flex-wrap items-center gap-4">
                <h3 class="text-xl font-bold flex-1 text-blue-500">{{matche.state.description}}</h3>
                @if(matche.state.clock != null && matche.state.description !='Finished') {  
                  <p class="text-sm text-green-500 font-semibold cursor-pointer">{{matche.state.clock}}'</p>
                }@else {
                  <p class="text-sm text-red-500 font-semibold cursor-pointer">{{matche.date.split('T')[1].split(':').slice(0, 2).join(':')}}</p>
                }
              </div>
  
              <div class="mt-8 space-y-4">
                <div class="flex flex-wrap justify-between items-center cursor-pointer shadow-md hover:shadow-lg transition-shadow duration-300 rounded-lg w-full p-4 bg-gray-50">
                  
                  <div class="flex gap-2 items-center">
                    <img src={{matche.homeTeam.logo}} alt="Team 1" class="w-8 h-8 " />
                    <p class="text-sm text-gray-800 font-semibold">{{matche.homeTeam.name}}</p>
                  </div>
                  
                  @if(matche.state.score.current != null) {
                    <p class="text-md text-gray-800 font-semibold">{{ matche.state.score.current}}</p>
                  } @else {
                    <p class="text-md text-gray-800 font-semibold">. - .</p>
                  }

                  <div class="flex gap-2 items-center">
                    <p class="text-sm text-gray-800 font-semibold">{{matche.awayTeam.name}}</p>
                    <img src={{matche.awayTeam.logo}} alt="Team 2" class="w-8 h-8" />
                  </div>
                </div>
               

              </div>
          </div>
        }
      }
    </div>
  </div>

}

  
